.title {
    font-size: $font-size-title;
    line-height: 42px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    background-color: $color-black-opacity;
    box-shadow: 0 0 10px 5px $color-black-opacity;
    &::before {
        content: '';
        width: 120px;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 70px;
        left: calc(50% - 60px);
        box-shadow: 0 0 10px 5px $color-black-opacity;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: $font-size-footer-title;
    }
}